<app-pane>
	<form action="" method="POST">
		<ul class="todos">
			@if (dataService.todos.length) {
				@for (todo of dataService.todos; track $index) {
					<todo [todo]="todo" [index]="$index"/>
				}
			} @else {
				<dialog role="dialog" [attr.aria-labelledby]="componentId + '-noTodosFoundHeading'" [attr.aria-describedby]="componentId + '-noTodosFoundDescription'" open>
					<h2 [id]="componentId + '-noTodosFoundHeading'">No todos found</h2>
					<p [id]="componentId + '-noTodosFoundDescription'">Try <a href="#" (click)="dataService.createTodo()">Adding a Todo</a></p>
				</dialog>
			}
			<li>
				<button type="button" (click)="dataService.createTodo()">Create Todo</button>
			</li>
		</ul>
	</form>

	<ng-content/>
</app-pane>
