<h2 class="title manager-title centred">Todos</h2>

<app-pane>
	<form action="" method="POST">
		<fieldset>
			<legend class="visuallyhidden">Todos</legend>
			<ul class="todos">
				@if (dataService.todos.length) {
					@for (todo of dataService.todos; track $index) {
						<li class="todo-container">
							<todo [todo]="todo" [index]="$index"/>
						</li>
					}
				} @else {
					<dialog role="dialog" [attr.aria-labelledby]="componentId + '-noTodosFoundHeading'" [attr.aria-describedby]="componentId + '-noTodosFoundDescription'" open>
						<h2 [id]="componentId + '-noTodosFoundHeading'">No todos found</h2>
						<p [id]="componentId + '-noTodosFoundDescription'">Try <a href="#" (click)="dataService.createTodo()">Adding a Todo</a></p>
					</dialog>
				}
				<li class="create-todo-container">
					<button class="create-todo-button" type="button" (click)="dataService.createTodo()">➕ Create Todo</button>
				</li>
			</ul>
		</fieldset>
	</form>

	<ng-content/>
</app-pane>
