<li class="todo" [class.completed]="todo.isComplete">
	<label>
		<span class="visuallyhidden">Todo Name</span>
		<textarea class="todo-name-input" type="text" required #todoName [(ngModel)]="todo.name" (blur)="dataService.saveTodos()" [rows]="todo.name.length / 15"></textarea>
	</label>
	<ng-content/>
	<ul class="actions">
		<li class="action">
			<button type="button" (click)="dataService.toggleComplete(todo)">
				@if (todo.isComplete) {
					❎
				} @else {
					✅
				}
			</button>
		</li>
		<li class="action">
			<button type="button" (click)="dataService.removeTodo(index)">
				Remove Todo ❌
			</button>
		</li>
	</ul>
</li>
