:host {
	--action-inline-spacing: var(--flow-inline-spacing, 1em);
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todo-name-input {
	font-weight: 500;
	font-size: 1.25em;
	height: min-content;
}


.action {
	display: inline-block;
}

.action button {
	white-space: nowrap;
	cursor: pointer;
}

.action + .action {
	margin-inline-start: var(--action-inline-spacing);
}


